@import "global";
footer{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
        gap: 1.5rem;
        .box{
            h3{
                padding: .5rem 0;
                font-size: 2.5rem;
                color: $black;
            }
            a{
                display: block;
                padding: .5rem 0;
                font-size: 1.5rem;
                color: $gray;
                &:hover{
                    color: $green;
                    text-decoration: underline;
                }
            }

        }
    }
    .credit{
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem;
        padding-top: 1.5rem;
        margin-top: 1.5rem;
        border-top: 0.1rem solid rgba($color: #000000, $alpha: 0.1);
        span{
            color: $green;

        }
    }
}
